<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src="index.js"></script>
    <link rel="stylesheet" href="css/index.css" />
    <title>Iniciar Sesión</title>
  </head>
  <body>
    <main>
      <div id="app" class="contenedor">
        <header>
          <h1>Centro de Videojuegos</h1>
        </header>

        <figure>
          <img :src="imagen" width="150"/>
        </figure>

        <section>
          <hgroup>
            <h4 v-for="dato in nombres">
              {{dato.nombre}}
            </h4>
            <hr />
          </hgroup>
          
          <div class="datosInicio">
            <form action="menu_principal.html" method="POST">
              <label><b>Correo:</b></label>
              <input v-model="correo"
                class="cajaTexto"
                type="text"
                name="txtuser"
                placeholder="Introduzca su correo"
                required
              />
              <label><b>Contraseña:</b></label>
              <input v-model="contra"
                class="cajaTexto"
                type="password"
                name="txtpassword"
                placeholder="Introduzca su contraseña"
                required
              />
            </form>
          </div>
          <input v-on:click="Sesion" type="submit" class="botonIngresar" value="Ingresar" />
        </section>
      </div>
    </main>
  </body>
</html>
